<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <% if(posts.length > 0){ %>

          <%  posts.forEach(post=>{ %>

              <div style="border: 1px solid gray; padding: 10px; margin-bottom: 10px; width: 300px;">
                 <h2 style="text-align: center; margin-bottom: 5px;"><%= post.title %></h2>
                 <p><%= post.category %></p> <span><%=post.author.username %></span>
                 <p style="padding: 10px 0px;"><%- post.description %></p>
              </div>

         <% }) %>

   <% } %>
    
</body>
</html>