<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Create Post</h2>

      <h2><%- include('../../partials/flash_messages') %> </h2>

    <form action="/posts/create" method="post">

      <div>
        <input type="text" placeholder="title" name="title" >

      </div>

      <div>
        <select name="category" id="" style="margin: 10px 0px;">
          <option value="" selected disabled>Select One</option>
          <% if(categories.length > 0){%>
             <% categories.forEach(cat=>{%>
                <option value="<%= cat.title %>"><%= cat.title %></option>
            <% }) %>
         <% } %>
         
        </select>
        
      </div>

      <textarea name="description" id="" cols="30" rows="10"></textarea>
       
        <div>

          <button type="submit">Publish</button>
        </div>
        <div class="" style="display: flex; flex-direction: column;">
        <a href="/posts/all">Back to Posts</a>
        <a href="/d/dashboard">Dashboard</a>
        </div>

    </form>
    
</body>
</html>