<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Create Post</h2>

      <h2><%- include('../../partials/flash_messages') %> </h2>

    <form action="/post/create" method="post">

      <div>
        <input type="text" placeholder="title" name="title" >

      </div>

      <div>
        <input type="text" placeholder="category" name="category">
      </div>

      <textarea name="description" id="" cols="30" rows="10"></textarea>
       
        <div>

          <button type="submit">Publish</button>
        </div>
    </form>
    
</body>
</html>