<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
            <h5 style="text-align: center;"><%- include('../../partials/flash_messages') %> </h5>

             <h3 style="text-align: center;">
                 <a href="/categories/create"> Create New</a>
             </h3>
    <div class="" style="display: flex; align-items: center; justify-content: center;">
        <div>

            <% if(allCat.length> 0){ %>

                <% allCat.forEach(cat=>{ %>
                    <a href="/categories/<%= cat.id %>" style="text-decoration: none;" title="Click to view">
                        <div style="border: 1px solid gray; padding: 10px; margin-bottom: 10px; width: 300px;">
                            <h2 style="text-align: center; margin-bottom: 5px;">
                                <%= cat.title %>
                            </h2>

                        </div>
                    </a>

                    <% }) %>

                        <% } %>

        </div>
    </div>

</body>

</html>