<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <h5 style="text-align: center;"><%- include('../../partials/flash_messages') %> </h5>

      <div class="" style="display: flex; align-items: center; justify-content: center;">
           
        <div style="border: 1px solid gray; padding: 10px; margin-bottom: 10px; width: 300px;">
        
            <h2 style="text-align: center; margin-bottom: 5px;">
                <%= singleCategory.title %>
            </h2>
            <hr>
             <div style="display: flex; align-items: center; justify-content: space-between;">
                <a href="/categories" style="text-decoration: none;">Back</a>
                 <a href="/categories/edit/<%= singleCategory.id %>" style="text-decoration: none;">Edit</a>
                  <form action="/categories/delete/<%=singleCategory.id %>?_method=delete" method="post">
                    <button type="submit" style="border: none; background-color: transparent; cursor: pointer;">Delete</button>
                  </form>
                
            </div>
        </div>
    </div>
   
    
</body>
</html>