<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title><%- title %></title>
    <!-- fonts -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- css -->
    <!-- <link rel="stylesheet" href="/css/output.css"> -->
    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        lightBlue: '#02A29E',
                    }
                }
            }
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- bootstrap css -->
    <!-- <link rel="stylesheet" href="/bcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css"> -->

</head>

<body>




    <div class="mx-auto my-14 lg:w-4/5">
        <%- body %>
    </div>




    <!-- <script src="/js/index.js"></script> -->
    <!-- bootstrap js -->
    <!-- <script src="/bjs/bootstrap.bundle.min.js"></script> -->
</body>

</html>