<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>

    <div class="Navbar shadow-sm">

        <div class="navbarLeft">
             <a href="/">
                <img src="/img/dek.png" alt="logo">
             </a>
             <ul class="menu">
                <li>
                    <a href="">Update</a>
                </li>
                <li>
                    <a href="/about-us">About us</a>
                </li>
                <li>
                    <a href="/about-us">Forex Signals</a>
                </li>
             </ul>
        </div>

        <div class="navbarRight">
            <div class="notification">
                <i class="las la-bell"></i>
                 <span>3</span>
            </div>
            <a href="" class="btn download-btn">Download app</a>

        </div>

    </div>

    <!-- Hero Section -->

    <div class="heroSection">

      <div class="heroLeft">
         <h1>That smile when <br> you get <span>Our App</span></h1>
         <hr class="hr-hero">
         <h4>Your All-in-One Solution for Effortless Management of Fiat and Crypto Transactions!</h4>
      </div>
      <div class="heroRight">
        <!-- <img src="/img/DEK2.png" alt=""> -->
          Image will be here
      </div>

    </div>

    <!-- About Section -->
    <div class="aboutSection">
   
    </div>



    
</body>
</html>