@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    font-size: 12px;
    color: lightgray;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


.bg-white-form {
    background: #fff;
    z-index: 10;
    padding: 15px;
    border-radius: 10px;
}

.btn-success-b {
    background-color: #003a53;
    color: #fff;
    transition: all 0.5s ease;
}

.btn-success-b:hover {
    background-color: #024968;
    color: #fff;
}

.loginWrap {
    height: 100vh;
    background-color: #003a53;
}

.loginWrap .row {
    height: inherit;
}

.col-sm-4.login {
    margin: auto;
}











