*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
a {
    text-decoration: none;
}
body{
    overflow-x: hidden;
}

:root {
    --main-green: #02A29E;
    --light-green: #02A29E;
    --dark-color: #1A1D21;
    --main-transition: all 0.5s ease;
}

.Navbar {
    background-color: #fff;
    padding: 15px 50px 15px 100px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
.navbarLeft {
    display: flex;
    align-items: center;
}
.navbarLeft img {
    width: 150px;
    border: 1px solid lightgray;
    margin-right: 40px;
}
.navbarLeft ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navbarLeft ul li {
    margin-left: 30px;
    position: relative;
}
.navbarLeft ul li a {
    color: var(--dark-color);
    font-weight: 300;
}

.navbarLeft ul li::after {
    content: ' ';
    width: 100%;
    background-color: var(--light-green);
    height: 2px;
    position: absolute;
    bottom: -5px;
    left: 0;
    display: none;
}

.navbarLeft ul li:hover::after {
    display: block !important;
}
.navbarLeft ul li:hover a {
  color: var(--main-green);
}

.navbarRight {
    display: flex;
    align-items: center;
}
.notification {
    position: relative;
    display: flex;
    cursor: pointer;
    margin-right: 30px;
}
.notification i {
    font-size: 25px;
}
.notification span {
    background-color: crimson;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: -5px;
    left: 8px;
 
}
.download-btn {
  background-color: var(--dark-color);
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  transition: all 0.5s ease;
  padding: 10px auto;
}
.download-btn:hover{
    background-color: var(--main-green);
    color: #fff;
}

/* Hero Section */
.heroSection {
    background-color: #fff;
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    align-items: flex-start;

}
.heroLeft {
    flex: 1;
    padding: 120px 0px 100px 100px;
}
.heroLeft h1 {
    font-size: 60px;
    font-family: 'Paytone One';
    font-weight: 400;

}
.heroLeft span {
    color: var(--main-green);
    font-family: 'Paytone One';
    font-size: 60px;
    font-weight: 400;
}
.heroLeft hr {
  margin: 20px 0;
  height: 5px;
  color: var(--main-green);
}
.heroLeft h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
}

.heroRight {
    flex: 1.5;
    background-color: lightgray;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
