<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <h4>Hello and welcome Mr <%= user.username %> </h4>

  


      <div class="">

        <ul>
            <li>
                <a href="/posts/create">Create Post</a>
            </li>
            <li>
                <a href="/posts/all">All Posts</a>
            </li>
            <li>
                <a href="/posts/pending">Pending Posts</a>
            </li>
            <li>
                <a href="/categories/create">Create Category</a>
            </li>
            <li>
                <a href="/categories">All Categories</a>
            </li>
            <li>
              <a href="/secure/logout" class="btn">Logout</a>
            </li>
        </ul>
      </div>
    
</body>
</html>