<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid bg-secondary p-5 d-flex align-items-center justify-content-between text-white ">
            <h2>DTEK</h2>

            <a href="/about-us" class="btn btn-info me-3 px-4">About Us</a>
            
            <div class="d-flex">
                <a href="/secure/register" class="btn btn-info me-3 px-4"> Sign UP</a>
                <a href="/secure/login" class="btn btn-outline-info px-4">Login</a>
            </div>
    </div>

</body>
</html>